<!--
  Get related posts based on tags
 -->

{{#get 'posts' limit='2' include='authors,tags' filter='tags:[{{post.tags}}]+id:-{{post.id}}' as |related-posts|}}
  {{#if related-posts}}
    <div class='c-related'>
      <div class='c-title-bar'>
        <h2 class='c-title-bar__title'>{{t 'You might also like' }}</h2>
      </div>
    {{> loop }}
    </div>
  {{/if}}
{{/get}}