{{#unless @member}}
  {{#if @site.members_enabled}}
    {{#unless @site.members_invite_only}}
      <div class='c-widget'>
        <div class='c-subscribe'>
          <div class='c-subscribe__content'>
            <h2 class='c-subscribe__title u-type-500 u-mb-8'>{{t '{siteTitle} Newsletter' siteTitle=@site.title}}</h2>
            <p class='u-type-500 u-mb-16'>{{t 'Join the newsletter to receive the latest updates in your inbox.' }}</p>
            {{> subscribe-form inputLabel='subscribe-email-sidebar'}}
          </div>

          <div class='c-subscribe__icon'>
            {{> subscribe-box-icon }}
          </div>
        </div>
      </div>
    {{/unless}}
  {{/if}}
{{/unless}}