{{#get 'posts' filter='featured:true' limit='3' as |posts|}}
  {{#if posts}}
    <div class='c-widget'>
      <div class='c-title-bar'>
        <h2 class='c-title-bar__title'>{{t 'Featured Posts'}}</h2>
      </div>

      {{#foreach posts}}
        {{> teaser }}
      {{/foreach}}
    </div>
  {{/if}}
{{/get}}