<div class='c-widget'>
  <div class='c-title-bar'>
    <h2 class='c-title-bar__title'><a href='{{ @site.url }}/authors/' class='c-title-bar__link'>{{t 'Authors'}} →</a></h2>
  </div>

  {{#get 'authors' limit='3' include='count.posts' order='count.posts desc'}}
    {{#foreach authors}}
      {{> card-author-mini }}
    {{/foreach}}
  {{/get}}
</div>