/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

@use "../settings/type";
@use "../vendor/mq";

blockquote {
  padding: var(--space-24) 0;
  font-size: type.$type--h-xs;
  line-height: type.$type--h-xs-lh;
  border-top: var(--space-8) solid var(--ghost-accent-color);
  box-shadow: 0 1px 0 0 var(--ghost-accent-color);

  @include mq.mq($from: desktop) {
    font-size: type.$type--h-sm;
    line-height: type.$type--h-sm-lh;
  }
}