/*------------------------------------*\
  Elements > hr
\*------------------------------------*/

hr {
  border: 0;
  margin-bottom: var(--space-32);

  &.seperator {
    margin-top: var(--space-32);
    border-bottom: .5px solid var(--color-border-primary);
  }
}