/*------------------------------------*\
  Elements > Table
\*------------------------------------*/

table {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-background-secondary);

  caption {
    padding: var(--space-16);
    border-style: solid;
    border-width: .5px .5px 0 .5px;
    border-color: var(--color-border-primary);
    background-color: var(--color-background-secondary);
  }

  th,
  td {
    text-align: left;
    padding: var(--space-16);
    white-space: nowrap;
    border: .5px solid var(--color-border-primary);
  }

  // thead th {
  //   white-space: nowrap;
  // }

  tbody + tbody {
    border-top: 2px solid var(--color-border-primary);
  }
}

.responsive-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  word-break: initial;
}