@use "../vendor/mq";

/*------------------------------------*\
  Objects > Grid
\*------------------------------------*/

@use "sass:math";

.o-grid {
  margin: 0 auto;
  max-width: var(--grid-width);
  padding: 0 var(--grid-outer-gutter);

  @include mq.mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  .o-grid {
    padding: 0;

    @include mq.mq($from: tablet) {
      margin-right: calc(var(--grid-column-medium-gutter) * -1);
      margin-left: calc(var(--grid-column-medium-gutter) * -1);
    }

    @include mq.mq($from: desktop) {
      margin-right: calc(var(--grid-column-large-gutter) * -1);
      margin-left: calc(var(--grid-column-large-gutter) * -1);
    }
  }

  &--center {
    align-items: center;
  }

  &--full {
    max-width: 100vw;
  }
}

.o-grid__col {
  @include mq.mq($from: tablet) {
    flex-grow: 1;
    padding-right: var(--grid-column-medium-gutter);
    padding-left: var(--grid-column-medium-gutter);
  }

  @include mq.mq($from: desktop) {
    flex-grow: 1;
    padding-right: var(--grid-column-large-gutter);
    padding-left: var(--grid-column-large-gutter);
  }

  &--1-3-s {
    width: math.percentage(math.div(1, 3));
  } // 33.33333%;

  &--2-3-s {
    width: math.percentage(math.div(2, 3));
  } // 66.66666667%;

  &--1-4-s {
    width: math.percentage(1 * 0.25);
  } // 25%

  &--2-4-s {
    width: math.percentage(2 * 0.25);
  } // 50%

  &--3-4-s {
    width: math.percentage(3 * 0.25);
  } // 75%;

  &--4-4-s {
    width: 100%;
  }

  @include mq.mq($from: tablet) {
    &--1-3-m {
      width: math.percentage(math.div(1, 3));
    } // 33.33333%;

    &--2-3-m {
      width: math.percentage(math.div(2, 3));
    } // 66.66666667%;

    &--1-4-m {
      width: math.percentage(1 * 0.25);
    } // 25%

    &--2-4-m {
      width: math.percentage(2 * 0.25);
    } // 50%

    &--3-4-m {
      width: math.percentage(3 * 0.25);
    } // 75%;

    &--9-10-m {
      width: math.percentage(9 * 0.1);
    } // 90%;

    &--4-4-m {
      width: 100%;
    }
  }

  @include mq.mq($from: desktop) {
    &--1-3-l {
      width: math.percentage(math.div(1, 3));
    } // 33.33333%;

    &--2-3-l {
      width: math.percentage(math.div(2, 3));
    } // 66.66666667%;

    &--1-4-l {
      width: math.percentage(1 * 0.25);
    } // 25%

    &--2-4-l {
      width: math.percentage(2 * 0.25);
    } // 50%

    &--3-4-l {
      width: math.percentage(3 * 0.25);
    } // 75%;

    &--4-4-l {
      width: 100%;
    }
  }

  &--full {
    width: 100%;
  }

  &--center {
    margin: 0 auto;
    flex-grow: initial;
  }

  &--end {
    margin-left: auto;
  }

  &--initial-grow {
    flex-grow: initial;
  }
}