// *----------------------------------*\
//  Settings > Button
// *----------------------------------*/

:root {
  --color-text-button: var(--color-text-white);
  --color-background-button: var(--ghost-accent-color);
}