// *----------------------------------*\
//  Settings > Global
// *----------------------------------*/

:root {
  --global-transition: 500ms;
  --global-faster-transition: .26s;
  --global-border-radius: var(--space-8);
  --global-letter-spacing: .5px;
}