/*------------------------------------*\
  Components > Archive
\*------------------------------------*/

@use "../settings/type";

.c-archive {
  padding: var(--space-32);
  margin-bottom: var(--space-32);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &__title {
    font-size: type.$type--h-xs;
    line-height: type.$type--h-xs-lh;
    font-family: var(--gh-font-heading, var(--type-heading));
  }

  &__description {
    margin-top: var(--space-4);
    font-size: type.$type-md;
    line-height: type.$type-md-lh;
    color: var(--color-text-secondary);
  }
}