/*------------------------------------*\
  Components > Author
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";
@use "../vendor/mq";

.c-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-32);
  margin-bottom: var(--space-32);
  text-align: center;
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  @include mq.mq($from: tablet) {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }

  &__media {
    width: var(--space-80);
    height: var(--space-80);
    border-radius: 100%;
    margin-bottom: var(--space-16);
    background-color: var(--color-background-primary);

    @include mq.mq($from: tablet) {
      margin-bottom: 0;
      margin-right: var(--space-24);
    }
  }

  &__image {
    object-fit: cover;
    width: var(--space-80);
    height: var(--space-80);
    min-width: var(--space-80);
    border-radius: 100%;
  }

  &__title {
    font-size: type.$type--h-xs;
    line-height: type.$type--h-xs-lh;
    font-family: var(--gh-font-heading, var(--type-heading));
  }

  &__bio {
    font-size: type.$type-md;
    line-height: type.$type-md-lh;
    color: var(--color-text-secondary);
  }
}

.c-author__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-text-secondary);

  @include mq.mq($from: tablet) {
    justify-content: flex-start;
  }

  &:has(li) {
    margin-top: var(--space-12);
    padding-top: var(--space-12);
    border-top: .5px solid var(--color-border-primary);
  }

  &-item {
    display: flex;
    align-items: center;
    font-size: type.$type-sm;

    &:not(:last-child) {
      margin-right: var(--space-8);
    }
  }

  a {
    @include mixins.attention() {
      text-decoration: underline;
    }
  }

  &-icon {
    fill: var(--color-text-secondary);
    vertical-align: bottom;
    transition: var(--global-transition);

    @include mixins.attention() {
      fill: var(--ghost-accent-color);
    }
  }
}