/*------------------------------------*\
  Components > Buttons
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";

.c-btn {
  display: inline-block;
  padding: var(--space-16) var(--space-32);
  color: var(--color-text-button);
  background-color: var(--color-background-button);
  font-size: type.$type-xs;
  line-height: type.$type-xs-lh;
  font-weight: type.$type-600;
  font-family: var(--type-body);
  letter-spacing: var(--global-letter-spacing);
  text-align: center;
  text-transform: initial;
  white-space: nowrap;
  border: none;
  height: auto;
  cursor: pointer;
  border-radius: var(--global-border-radius);
  transition: all var(--global-faster-transition) ease-in-out;

  @include mixins.attention() {
    opacity: .9;
    text-decoration: none;
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &--full {
    width: 100%;
  }

  &--fit-content {
    width: fit-content;
    min-width: fit-content;
  }

  &--small {
    padding: var(--space-8) var(--space-16);
  }

  &--outline {
    color: var(--ghost-accent-color);
    background-color: var(--color-background-secondary);
    box-shadow: inset 0 0 0 1px var(--ghost-accent-color);

    @include mixins.attention() {
      color: var(--color-text-white);
      background-color: var(--ghost-accent-color);
    }
  }

  &--danger {
    color: var(--color-text-white);
    background-color: var(--color-text-error);
  }

  &.loading,
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes spin {
      0%   { transform: rotate(0); }
      100% { transform: rotate(360deg); }
    }

    &:after {
      margin-left: var(--space-8);
      content: '';
      display: block;
      height: var(--space-16);
      width: var(--space-16);
      border: 2px solid var(--color-text-white);
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      animation: spin var(--global-transition) infinite linear;
    }
  }
}