/*------------------------------------*\
  Components > Card Callout / Editor
\*------------------------------------*/

@use "../settings/type";

.c-content {
  .kg-callout-card {
    padding: var(--space-24);
    border-radius: var(--global-border-radius);

    + .kg-callout-card {
      margin-top: var(--space-24);
    }

    div.kg-callout-emoji {
      font-size: type.$type-lg;
      line-height: type.$type-lg-lh;
      padding-right: var(--space-16);
    }

    .kg-callout-text {
      font-size: type.$type-lg;
      line-height: type.$type-lg-lh;
    }
  }

  .kg-callout-card-white {
    background: var(--color-background-secondary);
    box-shadow: inset 0 0 0 .5px var(--color-border-primary);
  }
}