// ------------------------------------
// Components > Card Tweet / Editor
// ------------------------------------

.twitter-tweet {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow: hidden !important;
  width: 100% !important;

  + script + figcaption {
    background-color: var(--color-background-primary);
  }
}