/*------------------------------------*\
  Components > Card Toggle / Editor
\*------------------------------------*/

@use "../settings/type";

.c-content {
  .kg-toggle-card {
    padding: 0;
    border-radius: var(--global-border-radius);
    background-color: var(--color-background-secondary);
    box-shadow: inset 0 0 0 .5px var(--color-border-primary);

    .kg-toggle-heading {
      align-items: center;
      padding: var(--space-24);
    }

    h4.kg-toggle-heading-text {
      font-size: type.$type--h-xxxs;
      line-height: type.$type--h-xxxs-lh;
      font-weight: type.$type-700;
    }

    .kg-toggle-card-icon {
      margin-top: 0;
    }

    .kg-toggle-heading svg {
      color: var(--color-text-primary);
    }

    &[data-kg-toggle-state='open'] .kg-toggle-content {
      padding: 0 var(--space-32) var(--space-32) var(--space-32);
    }

    &[data-kg-toggle-state] .kg-toggle-content {
      transition: none;

      p {
        font-size: type.$type-lg;
        line-height: type.$type-lg-lh;

        margin-top: 0;
      }

      p + p {
        margin-top: var(--space-16);
      }
    }
  }
}