// ------------------------------------
// Components > Card File / Editor
// ------------------------------------

@use "../settings/type";
@use "../tools/mixins";

.c-content .kg-file-card {
  a.kg-file-card-container {
    border: 0;
    transition: none;
    padding: var(--space-24);
    border-radius: var(--global-border-radius);
    background: var(--color-background-secondary);
    box-shadow: inset 0 0 0 .5px var(--color-border-primary);

    @include mixins.attention() {
      border: 0;
      box-shadow: inset 0 0 0 var(--space-2) var(--color-border-primary);
    }
  }

  .kg-file-card-contents {
    margin: 0;
    margin-right: var(--space-8);

    > * + * {
      margin-top: var(--space-4);
    }
  }

  .kg-file-card-title {
    font-size: type.$type--h-xxs;
    line-height: type.$type--h-xxs-lh;
    font-weight: type.$type-600;
    font-family: var(--gh-font-heading, var(--type-heading));
  }

  :is(.kg-file-card-caption, .kg-file-card-metadata, .kg-file-card-filename, .kg-file-card-filesize) {
    font-size: type.$type-md;
    line-height: type.$type-md-lh;
    font-weight: type.$type-400;
  }

  :is(.kg-file-card-caption, .kg-file-card-filesize) {
    opacity: 1;
  }

  .kg-file-card-metadata {
    color: var(--color-text-secondary);
  }

  .kg-file-card-icon svg {
    color: var(--color-text-primary);
  }
}