/*------------------------------------*\
  Components > Card Author
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";

.c-card-author {
  width: 100%;
  display: flex;
  padding: var(--space-24);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &__media {
    width: var(--space-80);
    height: var(--space-80);
    border-radius: 100%;
    margin-right: var(--space-24);
    background-color: var(--color-background-primary);
  }

  &__image {
    object-fit: cover;
    width: var(--space-80);
    height: var(--space-80);
    min-width: var(--space-80);
    border-radius: 100%;
  }

  &__name {
    font-size: type.$type-lg;
    line-height: type.$type-lg-lh;
    font-weight: type.$type-700;

    a {
      transition: var(--global-transition);

      @include mixins.attention() {
        color: var(--ghost-accent-color);
      }
    }
  }

  &__bio {
    font-size: type.$type-md;
    line-height: type.$type-md-lh;
    color: var(--color-text-secondary);
  }

  .icon {
    fill: var(--color-text-primary);
    vertical-align: sub;
    transition: var(--global-transition);

    @include mixins.attention() {
      fill: var(--ghost-accent-color);
    }
  }
}