/*------------------------------------*\
  Components > Card Author
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";

.c-card-author-mini {
  width: 100%;
  display: flex;
  padding: var(--space-24);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &:not(:last-child) {
    margin-bottom: var(--space-24);
  }

  &__media {
    width: var(--space-64);
    height: var(--space-64);
    border-radius: 100%;
    margin-right: var(--space-16);
    background-color: var(--color-background-primary);
  }

  &__image {
    object-fit: cover;
    width: var(--space-64);
    height: var(--space-64);
    min-width: var(--space-64);
    border-radius: 100%;
  }

  &__name {
    font-size: type.$type-sm;
    line-height: type.$type-sm-lh;
    font-weight: type.$type-700;
    transition: var(--global-transition);
    letter-spacing: var(--global-letter-spacing);
  }

  &__bio {
    color: var(--color-text-secondary);
    font-size: type.$type-xs;
    line-height: type.$type-xs-lh;
    font-weight: type.$type-500;
    margin-top: var(--space-4);
  }

  @include mixins.attention() {
    color: var(--ghost-accent-color);
  }
}