/*------------------------------------*\
  Components > Card Gallery / Editor
\*------------------------------------*/

@use "../vendor/mq";

.kg-gallery-container {
  display: flex;
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin-top: var(--space-16);

  @include mq.mq($from: desktop) {
    margin-top: var(--space-24);
  }
}

.kg-gallery-image {
  background-color: var(--color-background-secondary);
}

.kg-gallery-image:not(:first-of-type) {
  margin-left: var(--space-16);

  @include mq.mq($from: desktop) {
    margin-left: var(--space-24);
  }
}