/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";
@use "../vendor/mq";

.c-footer {
  padding: var(--space-40) 0;
  margin-top: var(--space-40);
  background-color: var(--color-background-secondary);
  box-shadow: 0 0 0 .5px var(--color-border-primary);

  @include mq.mq($from: desktop) {
    padding-top: var(--space-80);
  }

  &__section:not(:last-child) {
    @include mq.mq($until: desktop) {
      margin-bottom: var(--space-16);
      padding-bottom: var(--space-16);
    }

    @include mq.mq($until: tablet) {
      margin-bottom: var(--space-24);
      padding-bottom: var(--space-24);
      box-shadow: 0 .5px 0 0 var(--color-border-primary);
    }
  }

  &__headline {
    margin-bottom: var(--space-16);
    font-size: type.$type-sm;
    line-height: type.$type-sm-lh;
    font-weight: type.$type-500;
    text-transform: uppercase;
    letter-spacing: var(--global-letter-spacing);
    font-family: var(--gh-font-heading, var(--type-heading));
  }

  &__copyright {
    text-align: center;
    color: var(--color-text-secondary);

    @include mq.mq($from: tablet) {
      padding-top: var(--space-16);
      margin-top: var(--space-32);
      border-top: .5px solid var(--color-border-primary);
    }

    a {
      color: var(--color-text-secondary);
      transition: color var(--global-faster-transition);

      @include mixins.attention() {
        color: var(--ghost-accent-color);
      }
    }
  }
}

.c-footer-list {
  li {
    margin: 0;
  }

  a {
    display: block;
    padding: 0;
    font-weight: type.$type-400;
    font-size: type.$type-sm;
    line-height: type.$type-sm-lh;
    margin-bottom: var(--space-4);
    padding-bottom: var(--space-4);
    transition: color var(--global-faster-transition) ease-in-out;

    @include mixins.attention() {
      color: var(--ghost-accent-color);
    }
  }
}