/*------------------------------------*\
  Components > Note
\*------------------------------------*/

@use "../settings/type";

.c-note {
  padding: var(--space-24);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  > * {
    font-size: type.$type-md;
    line-height: type.$type-md-lh;
  }

  > * + * {
    margin-top: var(--space-24);
  }

  &--info {
    background-color: var(--color-background-info);
    box-shadow: inset 0 0 0 .5px var(--color-border-info);
  }

  &--success {
    background-color: var(--color-background-success);
    box-shadow: inset 0 0 0 .5px var(--color-border-success);
  }

  &--warning {
    background-color: var(--color-background-warning);
    box-shadow: inset 0 0 0 .5px var(--color-border-warning);
  }

  &--danger {
    background-color: var(--color-background-danger);
    box-shadow: inset 0 0 0 .5px var(--color-border-danger);
  }
}