/*------------------------------------*\
  Components > Pagination
\*------------------------------------*/

@use "../vendor/mq";

.c-pagination {
  @include mq.mq($until: desktop) {
    margin-bottom: var(--space-32);
  }
}