/*------------------------------------*\
  Components > Post Card
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";
@use "../vendor/mq";

.c-post-card {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  margin-bottom: var(--space-32);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &__media {
    overflow: hidden;
    background-color: var(--color-background-secondary);
    box-shadow: inset 0 0 0 .5px var(--color-border-primary);
  }

  &__image-wrap {
    display: block;
    position: relative;
    padding-top: 56.25%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    flex-grow: 1;
    padding: var(--space-24);

    @include mq.mq($from: desktop) {
      padding: var(--space-32);
    }
  }

  &__title {
    font-weight: type.$type-900;
    font-size: type.$type--h-xxs;
    line-height: type.$type--h-xxs-lh;
    font-family: var(--gh-font-heading, var(--type-heading));

    @include mq.mq($from: tablet) {
      font-size: type.$type--h-xs;
      line-height: type.$type--h-xs-lh;
    }

    @include mq.mq($from: desktop) {
      font-size: type.$type--h-sm;
      line-height: type.$type--h-sm-lh;
    }
  }

  &__url:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__visibility {
    display: inline-block;
    font-size: type.$type-xs;
    line-height: type.$type-xs-lh;
    font-weight: type.$type-500;
    color: var(--color-text-success);

    span { display: none; }

    &--paid    .paid,
    &--tiers   .paid,
    &--members .members,
    &--public  .public {
      display: block;
    }
  }

  &__excerpt {
    font-size: type.$type-sm;
    line-height: type.$type-sm-lh;
    font-weight: type.$type-500;
    color: var(--color-text-secondary);
    margin-top: var(--space-8);
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    font-size: type.$type-xs;
    line-height: type.$type-xs-lh;
    font-weight: type.$type-500;
    letter-spacing: var(--global-letter-spacing);
    margin-top: var(--space-24);
    padding-top: var(--space-32);
    border-top: .5px solid var(--color-border-primary);
  }

  &__authors {
    display: flex;
    grid-gap: var(--space-8);
    align-items: center;
  }

  &__authors-images {
    display: flex;
    grid-gap: var(--space-8);
  }

  &__authors-names {
    font-weight: type.$type-600;
    color: var(--color-text-secondary);

    a {
      transition: color var(--global-faster-transition);

      @include mixins.attention() {
        color: var(--color-text-primary);
      }
    }
  }

  &__author-image-wrap {
    display: block;
    width: var(--space-32);
    height: var(--space-32);
    border-radius: 100%;
    background-color: var(--color-background-secondary);
  }

  &__author-image {
    width: var(--space-32);
    height: var(--space-32);
    object-fit: cover;
    border-radius: 100%;
  }

  &__date {
    font-size: type.$type-xs;
    line-height: type.$type-xs-lh;
    color: var(--color-text-secondary);
  }

  &__author_media {
    width: var(--space-32);
    height: var(--space-32);
    margin-right: var(--space-8);
    border-radius: 100%;
    background-color: var(--color-background-primary);
  }

  &__author_image {
    object-fit: cover;
    width: var(--space-32);
    height: var(--space-32);
    min-width: var(--space-32);
    border-radius: 100%;
  }

  &__tag a {
    margin-left: var(--space-8);
    color: var(--ghost-accent-color);
    transition: color var(--global-faster-transition);

    @include mixins.attention() {
      color: var(--color-text-primary);
    }
  }

  @include mixins.attention() {
    .c-post-card__url {
      text-decoration: underline;
    }
  }
}