/*------------------------------------*\
  Components > Post Upgrade CTA
\*------------------------------------*/

@use "../settings/type";
@use "../vendor/mq";

.c-post-upgrade-cta {
  position: relative;
  text-align: center;
  padding: var(--space-24);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  @include mq.mq($from: tablet) {
    padding: var(--space-40);
  }

  @include mq.mq($from: desktop) {
    padding: var(--space-56);
  }

  &__title {
    font-size: type.$type--h-xs;
    line-height: type.$type--h-xs-lh;
    margin-bottom: var(--space-24);
  }
}