/*------------------------------------*\
  Components > Accessibility (a11y)
\*------------------------------------*/

.c-skip-to-content {
  position: absolute;
  z-index: 1;
  top: calc(var(--space-48) * -1);
  left: var(--space-16);
  padding: var(--space-8) var(--space-16);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-primary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &:focus {
    top: var(--space-16);
  }
}