/*------------------------------------*\
  Components > Social Icons
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";

.c-social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-2);
  padding: var(--space-24);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);

  &__item {
    width: var(--space-40);
    height: var(--space-40);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: type.$type--h-xs;
    width: var(--space-40);
    height: var(--space-40);
    fill: var(--color-text-secondary);
    transition: fill var(--global-transition);

    &:empty {
      background-color: var(--color-background-primary);
    }

    @include mixins.attention() {
      fill: var(--color-text-primary);
    }
  }
}