/*------------------------------------*\
  Components > Table of Contents
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";

.c-table-of-contents {
  padding: var(--space-24);
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
  box-shadow: inset 0 0 0 .5px var(--color-border-primary);
  border-left: var(--space-2) solid var(--ghost-accent-color);

  &__heading {
    padding-bottom: var(--space-8);
    margin-bottom: var(--space-24);
    font-variant: petite-caps;
    font-weight: type.$type-500;
    font-size: type.$type-lg;
    line-height: 1;
    box-shadow: 0 .5px 0 0 var(--color-border-primary);
    font-family: var(--gh-font-heading, var(--type-heading));
  }

  &__content {
    > * {
      font-size: type.$type-md;
      line-height: type.$type-md-lh;
    }
  }

  &__list {
    padding-left: var(--space-4);

    &:first-child > .c-table-of-contents__list-item:first-child {
      margin-top: 0;
    }
  }

  &__list-item {
    margin-top: var(--space-8);

    &::marker {
      color: var(--color-text-secondary);
    }
  }

  &__list-link {
    text-decoration: underline;

    @include mixins.attention() {
      color: var(--ghost-accent-color);
    }
  }
}