/*------------------------------------*\
  Components > title bar
\*------------------------------------*/

@use "../settings/type";
@use "../tools/mixins";

.c-title-bar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: var(--space-24);
  box-shadow: 0 .5px 0 0 var(--color-border-primary);

  &__title {
    margin-bottom: 0;
    padding-bottom: var(--space-8);
    font-size: type.$type-xs;
    line-height: type.$type-xs-lh;
    font-weight: type.$type-600;
    text-transform: uppercase;
    letter-spacing: var(--global-letter-spacing);
    font-family: var(--gh-font-heading, var(--type-heading));
  }

  &__link {
    display: flex;
    align-items: center;
    transition: var(--global-transition);

    @include mixins.attention() {
      color: var(--ghost-accent-color);
    }
  }
}