/*------------------------------------*\
  Trumbs > Lazyload
\*------------------------------------*/

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
  transition: opacity var(--global-transition) ease;
}